{% extends "base.html" %}

{% block content %}
{% include 'alerts.html' %}

<div class="container" style="padding: 50px; margin-top:5%;">
    {% if user.is_authenticated %}
  <h2 class="text-center">Automate The Boring Stuff With Django</h2>
  <div class="row pt-5">
      <!-- Import data -->
      <div class="col-md-4">
          <a href="{% url 'import_data' %}" class="text-decoration-none text-dark">
              <div class="card alert-primary shadow">
                  <div class="card-header">
                  <h4>
                    Import Data 
                    <i class="fa-solid fa-arrow-right"></i> 
                  </h4>
               
                  
                  </div>
                  <div class="card-body">
                  <p class="card-text">Imports data from CSV file to any table.</p>
                  </div>
              </div>
          </a>
      </div>
      <!-- Export Data -->
      <div class="col-md-4">
          <a href="{% url 'export_data' %}" class="text-decoration-none text-dark">
              <div class="card alert-success shadow">
                  <div class="card-header">
                  <h4>Export Data  <i class="fa-solid fa-arrow-right"></i> </h4>
                  </div>
                  <div class="card-body">
                  <p class="card-text">Exports data from a specific table to a CSV file.</p>
                  </div>
              </div>
          </a>
      </div>

      <!-- Bulk Emails -->
      <div class="col-md-4">
          <a href="#" class="text-decoration-none text-dark">
              <div class="card alert-danger shadow">
                  <div class="card-header">
                  <h4>Bulk Emails  <i class="fa-solid fa-arrow-right"></i> </h4>
                  </div>
                  <div class="card-body">
                  <p class="card-text">Sends bulk emails to users</p>
                  </div>
              </div>
          </a>
      </div>
  </div>

  <div class="row pt-5">
      <!-- Email Tracking -->
      <div class="col-md-4">
          <a href="#" class="text-decoration-none text-dark">
              <div class="card alert-warning shadow">
                  <div class="card-header">
                  <h4>Email Tracking  <i class="fa-solid fa-arrow-right"></i> </h4>
                  </div>
                  <div class="card-body">
                  <p class="card-text">Tracks emails and shows open and click rate</p>
                  </div>
              </div>
          </a>
      </div>
      
   <!-- Compress Images -->
      <div class="col-md-4">
          <a href="#" class="text-decoration-none text-dark">
              <div class="card alert-danger shadow">
                  <div class="card-header">
                  <h4>Compress Images  <i class="fa-solid fa-arrow-right"></i> </h4>
                  </div>
                  <div class="card-body">
                  <p class="card-text">Compresses Image files and reduces the size</p>
                  </div>
              </div>
          </a>
      </div>

   <!-- Web Scraping -->
      <div class="col-md-4">
          <a href="#" class="text-decoration-none text-dark">
              <div class="card alert-warning shadow">
                  <div class="card-header">
                  <h4>Web Scraping  <i class="fa-solid fa-arrow-right"></i> </h4>
                  </div>
                  <div class="card-body">
                  <p class="card-text">Scrapes websites for useful information</p>
                  </div>
              </div>
          </a>
      </div>
  </div>
  {% else %}
  <div class="home-info">
    <h2 class="text-center">Elevate Your Daily Grind: The Automation Odyssey</h2>
    <p class="lead text-center text-muted">
        Say farewell to monotony and hello to the future of efficiency! 🚀 "Automate the Boring Stuff with Django" is your gateway to a world where machines do the heavy lifting, and you get to revel in the results.
    </p>

    <p class="lead text-center text-muted">
        Dive into this thrilling project-based journey that turns ordinary tasks into a symphony of automation. From data wrangling to scheduling mastery, you'll wield the power of Django to transform the mundane into the extraordinary.
    </p>

    <p class="lead text-center text-muted">
        Picture this: Your daily routine made smoother, your tasks completed with a touch of magic. With Django as your digital assistant, you'll navigate the seas of automation effortlessly, leaving behind the tedium and embracing newfound freedom.
    </p>

    <div style="display: flex; justify-content: center;">
        <a href="{% url 'login' %}" class="btn btn-primary">Ignite the Spark</a>
        &nbsp;<a href="{% url 'register' %}" class="btn btn-success">Begin Your Odyssey</a>
    </div>
</div>


  {% endif %}



</div>

{% endblock %}